# Python-specific files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
virtualenv/
.venv/
.env/
.ENV/
.virtualenv/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride
Desktop.ini

# User-specific IDE settings
.idea/
.vscode/
*.swp
*.swo
*~
.*.sw[a-p]
.project
.pydevproject
.settings/
.ipynb_checkpoints
*.sublime-project
*.sublime-workspace

# Data and model files
*.h5
*.pkl
*.model
*.weights
*.tfrecord
*.pb
checkpoints/
data/
models/
chest-xray-pneumonia.zip
*.csv
*.json
*.sqlite
*.db
*.hdf5
weights/

# Logs and temporary files
logs/
*.log
*.tmp
temp/
tmp/
*.bak

